{% extends "layout/layout.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<style>
    .hero {
        height: auto !important;
        padding-bottom: 50px;
    }
    body{
        height: inherit;
        background: rgba(20, 20, 20, 0.7) !important;
        background-color: rgba(20, 20, 20, 0.7) !important;
    }
    nav{
        background-color: black !important;
    }
</style>
    <div class="container p-5">
        <h3>LOGIN</h3>
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Login</button>
        </form> 
    </div>
{% endblock %}